[submodule "redmine-core"]
	path = redmine-core
	url = https://github.com/edavis10/redmine
[submodule "plugins/a_common_libs"]
	path = plugins/a_common_libs
	url = https://bitbucket.org/dkuk/a_common_libs.git
[submodule "tools/phantomsjs-install"]
	path = tools/phantomsjs-install
	url = https://gist.github.com/7476620.git
